@font-face{
	font-family: 'maiandra';
	src: url('fonts/MAIAN.TTF');
} /*nova fonte geral*/

* {
	margin: 0;
	padding: 0;
	font-family: 'maiandra', verdana, tahoma, sans-serif;
	box-sizing: border-box;
}

body {
	background: black;
}

/*.chatbox {
	width: 500px;
	min-width: 390px;
	height: 600px;
	background: #a7a7a7;
	padding: 25px;
	margin: 20px auto;
	box-shadow: 0 3px #ccc;
}*/ /*chatbox que delimitava um quadrado para as conversas*/

.chatlogs {
	padding: 10px;
	width: 100%;
	height: 550px;
	overflow-x: hidden;
	overflow-y: scroll;
	background: black;
	border-bottom: 5px solid white;
}

.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: white;
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}


.chat .user-photo-f{
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
}

.chat .user-photo-m{
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
}

.chat .chat-message {
	width: 90%;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
}

.friend .chat-message {
	background: #18686f;
}

.self .chat-message {
	background: #a51a19;
	order: -1;
}

.chat-form {
	margin-top: 10px;
	margin-left: 30px;
	display: flex;
	align-items: flex-start;
}

.chat-form textarea {
	background: #fbfbfb;
	width: 90%;
	height: 50px;
	border: 2px solid #eee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 18px;
	color: #333;
	overflow: hidden;
}

.chat-form textarea:focus {
	background: #fff;
}

.chat-form button {
	background: #e65c00;
	padding: 10px 25px;
	font-size: 18px;
	color: #fff;
	border: none;
	margin: 0 10px;
	border-radius: 3px;
	box-shadow: 0 3px 0 #ffa366;
	cursor: pointer;

	-webkit-transaction: background .2s ease;
	-moz-transaction: backgroud .2s ease;
	-o-transaction: backgroud .2s ease;
}

.chat-form button:hover {
	background:  #e65c00;
	box-shadow: 0 3px 0 #ffa366;
	font-size: 16px;
}